.productWrapper {
  position: relative;
  padding: 10px;
  width: 90vw;
  max-width: 1200px;
  min-width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background-color: rgba(2, 9, 78, 0.8);
}

.productContainer{
  width: 88vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: 560px)  {
    column-gap: 20px;
  }

  @media (min-width: 1025px)  {
    column-gap: 30px;
  }
}

.productImg {
  width: 50px;
  min-width: 50px;
  height: 70px;
  max-height: 80px;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 1025px)  {
    width: 60px;
    min-width: 60px;
    height: 80px;
  }
}

.mainBlock {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: 481px)  {
    flex-direction: row;
    row-gap: 0;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

.productName {
  width: 50vw;
  min-width: 160px;
  text-align: center;
  font-size: 14px;
  color: #02094e;
  background-color: #ffffff;
  padding: 5px;

  @media (min-width: 481px)  {
    font-size: 18px;
    width: 37vw;
  }

  @media (min-width: 769px)  {
    width: 37vw;
  }

  @media (min-width: 1025px)  {
    font-size: 22px;
    width: 48vw;
    max-width: 760px;
  }


  //align-self: center;
  //width: 500px;
  //min-width: 500px;
  //min-height: 60px;
  //text-align: center;
  //font-size: 20px;
  //color: #02094e;
  //background-color: #ffffff;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  &:hover {
    color: #b22222;
  }
}

.funcBlock {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;

  @media (min-width: 560px)  {
    column-gap: 20px;
  }
}

.price{

  font-size: 18px;
  color: #ffffff;
  text-align: center;

  @media (min-width: 481px)  {
    font-size: 18px;
  }

  @media (min-width: 769px)  {
    font-size: 18px;
  }

  @media (min-width: 1025px)  {
    font-size: 20px;
  }

  &:hover {
    color: #e0b911;
  }
}

.cardSelected {
  position: absolute;
  top:5px;
  right: 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.linkView {
  text-decoration: none;
  display: none;

  @media (min-width: 769px)  {
    display: inline-block;
  }
}


