.wrapper {
  min-width: 320px;
  padding:90px 2px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 300px;
  margin: 30px auto;
  text-align: center;
  color: #02094e;
  font-size: 22px;

  @media (min-width: 481px)  {
    font-size: 26px;
    width: 450px;
  }

  @media (min-width: 769px)  {
    font-size: 28px;
  }

  @media (min-width: 1025px)  {
    font-size: 32px;
  }

}

.mainContent {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;

  @media (min-width: 769px)  {
    max-width: 800px;
  }
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 15px;
}

.product {
  padding: 40px;
  position: relative;
  width: 220px;
  background-color: #3b4492;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  @media (min-width: 769px)  {
    width: 320px;
    row-gap: 20px;
  }
}

.imgContainer {
  width: 180px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 769px)  {
    width: 200px;
  }
}

.productImg {
  width: 150px;
  height: 200px;
  object-fit: cover;

  @media (min-width: 769px)  {
    width: 170px;
    height: 260px;
  }
}

.productPrice{
  color: #fffffe;
  font-size: 22px;
  font-weight: bold;

  @media (min-width: 769px)  {
    font-size: 24px;
  }
}

.about {
  width: 220px;
  padding: 10px;
  background-color: #dbe6ee;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: 481px)  {
    padding: 10px;
  }

  @media (min-width: 769px)  {
    width: 320px;
  }
}

.titleAbout {
  font-size: 22px;
  color: #3a4045;
  text-transform: uppercase;
}

.productArticle{
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (min-width: 769px)  {
    font-size: 18px;
  }
}

.option {
  border: 1px solid black;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionTitle {
  color: black;
  font-weight: bold;
}

.optionValue {
  display: flex;
  column-gap: 5px;
}

.countryImg {
  width: 20px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

.valueMechanism {
  font-size: 12px;
}

.colorElement{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.cardSelected {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.btnChangePage {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnRight {
  margin-right:  3px;
}

.imgChangePage {
  width: 30px;
  object-fit: cover;
}




